*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 4
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#-------------------------
# Do Not Upload Files
#-------------------------
# 1.doNotUpload/*
